Table {
  width: 50%;
  table-layout: fixed;
  border-color: rgb(243, 11, 58);
  border-radius: 4px;
}

td{
  background-color:rgba(238, 237, 236, 0.993);
  /* border: 1px solid black;  */
  padding: 6px;
}
table {border-spacing: 2px;}
td    {padding: 0px;}
Table td{border:1px solid white;}
Table tr th {
  text-align: left;
  background-color: #f78d02;
        color: white; 
  size: 30px;
 
  border:1px solid white;
}
.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 2 solid #000000;
}

.Button {
color:#6fd829;
}
.btn-secondary {
  color: #0e0c0c;
  background-color: #eff2f5;
  border-color: white;
}




 .react-tab-list {
    list-style: none;
    margin: 0;
    background: #1C5A74;
    cursor: pointer;
 } .react-tab {
      display: inline-block;
      line-height: 3em;
      padding-left: 1em;
      padding-right: 1em;
      color: #D7A396;
    }
  
    

 .react-tab-panel {
    display: none;
    padding: 0.5em;
    background: #F4DDBE;
    min-height: 300px;
    
  }
  Table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
  }
  
  .img-css{
    max-width: 100%;
    height: 80px;
  }